@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Elms Sans', sans-serif;
}
#map {
    display: flex;
    height: 500px;
    width: 500px;
}
#preparandoCompra{
    padding: 10%;
}
.text-centered{
    text-align: center;
}
#right{
    text-align: center;
    float: right;
    margin-right: 20%;
}
.div-produto{
    border: solid 1px black;
    border-radius: 2%;
    text-align: center;
    padding: 7%;
    margin-bottom: 5%;
}
.div-produto > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div-produto > .classific{
    margin-top: 100px;
}
.div-produto > img{
    width: 20vh;
    transition: width 500ms;
}
.div-produto > img:hover{
    width: 30vh;
    transition: width 500ms;
}
.produtos{
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vh;
}
#carrinho{
    display: none;
    border: solid 1px black;
    margin: 0vh 30vh;
    border-radius: 2%;
    padding: 1%;
}
.right{
    display: flex;
    float: right;
    margin-right: 30vh;
}
button{
    text-align: center;
    border: solid 1px black;
    border-radius: 5vh;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    transition: background-color 500ms, color 500ms, box-shadow 500ms;
}
button:hover{
    background-color: rgb(130, 130, 130);
    color: white;
    box-shadow: 5px 1px 25px rgb(130, 130, 130);
    transition: background-color 500ms, color 500ms, box-shadow 500ms;
}
.comprarCarrinho{
    display: none;
}
p{
    font-size: 16px;
    transition: font-size 500ms;
}
p:hover{
    font-size: 20px;
    transition: font-size 500ms;
}